<div class="container pb-5" style="padding: 5px 10px;">
    <h5 class="card-title text-danger mb-4"><i class="bi bi-clock-history me-2"></i></i>Lịch sử đọc truyện</h5>
    <div class="row">
        <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

         <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

         <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

         <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

         <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

         <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>

        <div class="text-light col-6 col-lg-2 mt-3 mb-3">
        <a 
            href="#!thongtintruyen/{{x.id}}/{{x.ten}}" class="text-light" >
            <div class="card nb bg-dark border">
                <div class="card-header card-header-title">Tinh võ thần quyết</div>
                <img src="https://doctruyen3q.info/images/comics/tinh-vo-than-quyet-165.jpg" id="img-noibat" class="img-fluid" style="height: 250px;"
                    alt="...">
                <div class="w-100 tgvachap clearfix" style="overflow: hidden; bottom: 0px;">
                    <span class="badge bg-danger w-100 float-start p-2">Chap 19</span>
                    
                </div>
            </div>
        </a>
        <form action="hahahaa" class="mt-4">
            <button class="badge bg-success btn w-100 p-2"><i class="bi bi-book-half"></i> Đọc tiếp</button>
            <button class="badge bg-secondary btn w-100 p-2 mt-1"><i class="bi bi-trash-fill"></i> Xóa</button>
        </form>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item {{disdau}}">
                <button class="page-link" ng-click="Previous()" class="page-link">Previous</button>
            </li>

            <li class="page-item {{discuoi}}">
                <button ng-click="next()" class="page-link">Next</button>
            </li>
        </ul>
    </nav>
    <div class="fb-like ms-4 mt-5" data-colorscheme="dark"
        data-href="https://www.facebook.com/P%E1%BB%9D-Rom-113125644156959" data-width="" data-layout="standard"
        data-action="like" data-size="large" data-share="true"></div>
</div>

